.column{
    padding: 0px 30px;
}

.imageContainer img{
    width: 100%;
}

.Onboarding{
    margin-top: 10px;
    text-align: center;
}

.Onboarding h2, 
.Onboarding p{
    color: #003360;
}

.Onboarding h2{
    text-align: center;
}

.Onboarding p{
    font-weight: 500;
}

.Onboarding button{
    margin-top: 25px;
    width: 100%;
}